// start slider
.slider {
	padding-block: 50px;
	q {
		font-size: 20px;
		font-style: italic;
		text-align: center;
		display: block;
		line-height: 1.8;
		width: 80%;
		margin: auto;
		margin-bottom: 30px;
		@media #{$maxSmall} {
			font-size: 16px;
		}
		@media #{$maxMobile} {
			width: 100%;
			font-size: 14px;
		}
	}
	img {
		width: 100%;
		margin-bottom: 25px;
	}
	.slider-bullets {
		width: max-content;
		margin: auto;
		list-style: none;
		cursor: pointer;
		li {
			display: inline-block;
			margin-right: 3px;
			@include radius(50%);
			border: 1px solid $mainColor;
			width: 10px;
			height: 10px;
			&.active {
				background-color: $mainColor;
			}
		}
	}
}
// end slider

// start services
.services {
	.grid-item {
		padding-block: 30px;
		display: flex;
		width: 100%;
		@media #{$maxSmall} {
			flex-direction: column;
			gap: 50px;
			text-align: center;
		}
		div {
			flex: 1;
			&:not(:last-of-type) {
				padding-right: 15px;
			}
			.title {
				display: flex;
				align-items: center;
				@media #{$maxSmall} {
					width: max-content;
					margin: auto;
				}
				i {
					font-size: 45px;
					color: $mainColor;
				}
				h3 {
					padding-inline: 20px;
				}
			}
			.service-desc {
				line-height: 1.6;
				font-size: 15px;
			}
			.service-link {
				color: $mainColor;
				font-size: 14px;
				text-decoration: none;
				padding: 5px 10px;
				padding-left: 0;
				font-weight: bold;
			}
		}
	}
}
// end services

// start Players
.players {
	padding-block: 30px;
	.grid-item {
		padding-top: 40px;
		display: flex;
		align-items: center;
		width: 100%;
		@media #{$maxMedium} {
			row-gap: 30px;
			flex-wrap: wrap;
		}
		@media #{$maxSmall} {
			flex-direction: column;
			gap: 30px;
		}
		.player {
			flex: 1;
			@media #{$maxMedium} {
				width: 50%;
				flex: auto;
				&:nth-child(odd) {
					padding-right: 20px !important;
				}
			}
			@media #{$maxSmall} {
				width: 100%;
				flex: auto;
				&:nth-child(odd) {
					padding-right: 0 !important;
				}
			}
			&:not(:last-of-type) {
				padding-right: 20px;
				@media #{$maxMedium} {
					padding-right: 0px;
				}
				@media #{$maxSmall} {
					padding-right: 0;
				}
			}
			img {
				width: 100%;
				height: 400px;
				object-fit: cover;
				object-position: top;
				@media #{$maxSmall} {
					height: 500px;
				}
				@media #{$maxMobile} {
					height: 400px;
				}
			}
			.player-content {
				padding: 20px 15px;
				background-color: #f4f4f4;
				position: relative;
				top: -5px;
				.title {
					display: flex;
					align-items: center;
					padding-block: 10px;
					span {
						font-weight: bold;
						font-size: 15px;
					}
					h3 {
						padding-inline: 10px;
						color: $mainColor;
						margin-bottom: 0;
						margin-top: 0;
						font-weight: 600;
						font-size: 18px;
						letter-spacing: 1px;
					}
				}
				.player-desc {
					margin-top: 0;
					font-size: 14px;
					line-height: 1.5;
				}
				.player-link {
					font-size: 14px;
					color: $mainColor;
					padding: 5px 10px;
					padding-left: 0;
					text-decoration: none;
					text-transform: capitalize;
					font-weight: bold;
				}
			}
		}
	}
}
// end Players

// start lorem
.lorem {
	padding-top: 40px;
	.grid-item {
		display: flex;
		align-items: center;
		@media #{$maxSmall} {
			flex-direction: column;
		}
		.img-container {
			padding-block: 30px;
			padding-right: 20px;
			@media #{$maxSmall} {
				padding: 0;
				padding-bottom: 25px;
			}
			@media #{$maxSmall} {
				&:first-of-type {
					padding-top: 25px;
				}
			}
			flex: 1;
			img {
				width: 100%;
			}
		}
	}
}
// end lorem
