$mainColor: #e95d5d;

// Media Queries
$maxMobile: '(max-width: 500px)';
$maxSmall: '(max-width: 767px)';
$maxMedium: '(max-width: 991px)';
$maxLarge: '(max-width: 1199px)';


$minSmall: '(min-width: 768px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';